@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Luckiest+Guy&display=swap");

@layer base {
    .font-outline-2 {
        background-clip: text;
        -webkit-text-stroke: 2px transparent;
    }
    .font-outline-4 {
        background-clip: text;
        -webkit-text-stroke: 4px transparent;
    }
    .valid {
        border-color: #84cc16 !important;
    }
    .inValid {
        border-color: #b91c1c !important ;
    }
}
